#Misc
include CHANGES.txt
include LICENSE.txt

# Requirements
include requirements.txt

#documentation
recursive-include docs/_build/html *

# All package data
recursive-include pumpwood_djangoviews/ *

# Exclude some files
recursive-exclude * *.pyc
recursive-exclude * *.swp
recursive-exclude * __pycache__
recursive-exclude * *.db
